PORT = 8000
DB_NAME = avikka 
DB_USER = root
DB_PASS = Apoorv
DB_HOST = 127.0.0.1

RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

EMAIL_COMPANY = ''
EMAIL_PASS = mswqhesgpsgjqwum

AFTERSHIP_API_KEY=""

CASHFREE_APP_ID=""
CASHFREE_SECRET_KEY=""
